@import '~node_modules/modern-normalize/modern-normalize.css';
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.crawlers__item {
  display: block;
  padding: 40px 32px;
}

.crawlers__item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.crawlers__agency {
  display: inline-block;
  text-align: center;
  width: 80px;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffffff;
  background: var(--fifth-accent-color);
  border-radius: 4px;
}

.crawlers__agency-another-background {
  width: 130px;
  background: var(--sixth-accent-color);
}

.crawlers__city {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
}

.crawlers__text {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}
.crawlers__text::after {
  content: "";
  display: block;
  width: 216px;
  border: 1px solid #e1e1e1;
}

.crawlers__timetable::after {
  content: "";
  display: block;
  width: 216px;
  border: 1px solid #e1e1e1;
}

.timetable__day {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
}

.timetable__time {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--third-accent-color);
}

.contacts__link {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}

.galery {
  background-image: linear-gradient(to bottom, #FFF5F6, white);
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__label {
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}

.section__title {
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .section__label {
    font-size: 26px;
    line-height: 1.15px;
    margin-bottom: 16px;
  }
  .section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .section__label {
    font-size: 30px;
    line-height: 1.13;
  }
  .section__title {
    font-size: 58px;
    line-height: 1.14;
  }
}
html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: unset;
  list-style: none;
}

a {
  text-decoration: none;
}

::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
}

:root {
  --primary-font-family: "Titan One", sans-serif;
  --secondary-font-family: "DM Sans", sans-serif;
  --accent-color: #FFB8CA;
  --secondary-accent-color: #FFF5F6;
  --third-accent-color: #FFA5BA;
  --fourth-accent-color: #D41443;
  --fifth-accent-color: #F0D1A5;
  --sixth-accent-color: #C2E297;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */