:root {
  --primary-font-family: 'Titan One', sans-serif;
  --secondary-font-family: 'DM Sans', sans-serif;
  --accent-color: #ffb8ca;
  --main-accent-color: #ffffff;
  --secondary-accent-color: #fff5f6;
  --third-accent-color: #ffa5ba;
  --fourth-accent-color: #d41443;
  --fifth-accent-color: #f0d1a5;
  --sixth-accent-color: #c2e297;
  --btn-hover-focus: #ECEBEB;
}
