:root {
    --primary-font-family: "Titan One", sans-serif;
    --secondary-font-family: "DM Sans", sans-serif;
    --accent-color: #FFB8CA;
    --secondary-accent-color: #FFF5F6;
    --third-accent-color: #FFA5BA;
    --fourth-accent-color: #D41443;
    --fifth-accent-color: #F0D1A5;
    --sixth-accent-color: #C2E297;
}