<section class="section__crawlers" id="contacts">
  <div class="container__crawlers">
    <h2 class="section__title visually-hidden">Crawlers</h2>

    <ul class="crawlers">
      <li class="crawlers__item">
        <p class="crawlers__agency">CAFE</p>
        <p class="crawlers__city">Chicago</p>
        <p class="crawlers__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="timetable crawlers__timetable">
          <li class="timetable__item">
            <p class="timetable__day">Monday - Friday</p>
            <p class="timetable__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="timetable__item">
            <p class="timetable__day">Saturday - Sunday</p>
            <p class="timetable__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts crawlers__contacts">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="crawlers__item">
        <p class="crawlers__agency crawlers__agency-another-background">
          FOODTRUCK
        </p>
        <p class="crawlers__city">Los Angeles</p>
        <p class="crawlers__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="timetable crawlers__timetable">
          <li class="timetable__item">
            <p class="timetable__day">Monday - Friday</p>
            <p class="timetable__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="timetable__item">
            <p class="timetable__day">Saturday - Sunday</p>
            <p class="timetable__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts crawlers__contacts">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="crawlers__item">
        <p class="crawlers__agency">CAFE</p>
        <p class="crawlers__city">New York</p>
        <p class="crawlers__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="timetable crawlers__timetable">
          <li class="timetable__item">
            <p class="timetable__day">Monday - Friday</p>
            <p class="timetable__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="timetable__item">
            <p class="timetable__day">Saturday - Sunday</p>
            <p class="timetable__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts crawlers__contacts">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="crawlers__list-modal-btn">
      <li class="crawlers__item-modal-btn">
        <button
          class="crawlers__modal-btn crawlers__modal-btn_background-red"
          type="button"
          onclick="window.location.href = 'https://goo.gl/maps/nN8HdzN8zTd4gUGX7';"
          rel="noopener noreferrer"
        >
          Our Locations
          <svg class="crawlers__icon" width="5" height="10">
            <use href="./images/icons-svg/symbol-defs.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>

      <li class="crawlers__item-modal-btn">
        <button
          type="button"
          class="crawlers__modal-btn crawlers__modal-btn_background-white"
        >
          Franchise
          <svg class="crawlers__icon" width="5" height="10">
            <use href="./images/icons-svg/symbol-defs.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
