<section class="section">



    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    
      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
<!-- <div class="container ">
   <div class="">
    <ul class="">
        <li class="customer__item">
            <picture>
                <source type="image/webp" srcset="./images/customer-reviews/img-1-all.webp 1x,
                ./images/customer-reviews/img-1-all@2x.webp 2x">

                <source srcset="./images/customer-reviews/img-1-all.jpg 1x,
                ./images/customer-reviews/img-1-all@2x.jpg 2x">

                <img src="./images/customer-reviews/img-1-all.jpg" alt="client photo" class="customer__img" width="85"
                    height="85">
            </picture>
            <div class="customer__box">
                <p class="customer__text">
                    <span class="customer__text-box">Nullam viverra consectetuer. Quisque cursus
                        et, porttitor risus. Aliquam sem. In hendrerit
                        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
                </p>
                
                
            </div>
            <!-- <p>Emali Hello world</p> -->
            

            
           
        </li>

        <li class="customer__item" >
                <picture>
                    <source 
                    type="image/webp"
                    srcset="./images/customer-reviews/img-2-all.webp 1x,
                    ./images/customer-reviews/img-2-all@2x.webp 2x">

                    <source 
                    srcset="./images/customer-reviews/img-2-all.jpg 1x,
                    ./images/customer-reviews/img-2-all@2x.jpg 2x">

                    
                    <img src="./images/customer-reviews/img-2-all.jpg" alt="client photo" class="customer__img" width="85"
                    height="85">
                </picture>
                <div class="customer__box">
                    <p class="customer__text"><span class="customer__text-box">Nullam viverra consectetuer. Quisque cursus
                            et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
                    </p>
                    
                </div>
               
            </li>
            
            <li class="customer__item">
                <picture>
                    <source
                    type="image/webp"
                    srcset="./images/customer-reviews/img-3-all.webp 1x,
                    ./images/customer-reviews/img-3-all@2x.webp">

                    <source
                    srcset="./images/customer-reviews/img-3-all.jpg 1x,
                    ./images/customer-reviews/img-3-all@2x.jpg">

                    
                    <img src="./images/customer-reviews/img-3-all.jpg" alt="client photo" class="customer__img" width="85"
                    height="85">

                     </picture>    
                     <div class="customer__box">
                        <p class="customer__text"><span class="customer__text-box">Nullam viverra consectetuer. Quisque cursus
                                et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
                        </p>
                    </div>    
                           
                    
                     
                </li>
    </ul>
    <div class="swiper-pagination" >
    </div>
   </div>
</div> -->
<!-- <div  class="test"> 
    <ul class="">
        <li class="">
          <p class=" customer__user--name">Emily, Los Angeles</p>
        </li>
         <li class="">
            <p class=" customer__user--name">sveta</p>
        </li>
        <li class="">
            <p class=" customer__user--name">petja</p>
        </li> 
    </ul>
</div> -->


    
   
</section>