<!-- <section class="section"> -->
<div class="container">
    <ul class="customer">
        <li class="customer__item swiper-slide">
            <picture>
                <source type="image/webp" srcset="./images/customer-reviews/img-1-all.webp 1x,
                ./images/customer-reviews/img-1-all@2x.webp 2x">

                <source srcset="./images/customer-reviews/img-1-all.jpg 1x,
                ./images/customer-reviews/img-1-all@2x.jpg 2x">

                <img src="./images/customer-reviews/img-1-all.jpg" alt="client photo" class="customer__img" width="85"
                    height="85">
            </picture>
            <div class="customer__box">
                <p class="customer__text"><span class="customer__text-box">Nullam viverra consectetuer. Quisque cursus
                        et, porttitor risus. Aliquam sem. In hendrerit
                        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
                </p>
            </div>
        </li>

        <!-- <li class="customer__item swiper-slide">
                <picture>
                    <source 
                    type="image/webp"
                    srcset="./images/customer-reviews/img-2-all.webp 1x,
                    ./images/customer-reviews/img-2-all@2x.webp 2x">

                    <source 
                    srcset="./images/customer-reviews/img-2-all.jpg 1x,
                    ./images/customer-reviews/img-2-all@2x.jpg 2x">

                    
                    <img src="./images/customer-reviews/img-2-all.jpg" alt="client photo">
                </picture>
                <div> 
                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                
            </li>
            
            <li class="customer__item swiper-slide">
                <picture>
                    <source
                    type="image/webp"
                    srcset="./images/customer-reviews/img-3-all.webp 1x,
                    ./images/customer-reviews/img-3-all@2x.webp">

                    <source
                    srcset="./images/customer-reviews/img-3-all.jpg 1x,
                    ./images/customer-reviews/img-3-all@2x.jpg">

                    
                    <img src="./images/customer-reviews/img-3-all.jpg" alt="client photo">

                     </picture>               

                </li> -->

    </ul>
</div>
<!-- </section> -->