<section class="section galery">
    <h3 class="visually-hidden">Gallery</h3>
    <picture>
        <source
        type="images/webp"
        media="(min-width: 1200px)"
        srcset="../images/galery/galery-desktop.webp 1x"
        
        >



    <img src="../images/galery/galery-mobile.jpg" alt="gallery products">
    </picture>
    <div>
    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    </div>
</section>
