<section class="section galery__section">
    <h3 class="visually-hidden">Gallery</h3>
    <div class="galery">
        <picture>
            <source 
            media="(min-width: 1200px)"
            srcset="./images/gallery/gallery-desctop.svg">
    
    
            <source 
            media="(min-width: 768px)"
            srcset="./images/gallery/gallery-tablet.svg">
    
            <source 
            media="(max-width: 767px)"
           srcset="./images/gallery/gallery-mobile.svg">
    
    
        <img src="./images/gallery/gallery-desctop.svg" alt="gallery products">
        </picture>
    </div>
</section>
