<header class="header">
  <div class="container header__container">
    <nav class="header__container__nav">
      <a class="logo" href="./index.html">
        <picture>
          <source srcset="./images/logo/logo.webp 1x, ./images/logo/logo@2x.webp 2x" type="image/webp" />
          <source srcset="./images/logo/logo.png 1x, ./images/logo/logo@2x.png 2x" type="image/png" />
          <img src="./images/logo/logo.png" alt="icecream" width="199" height="50">
        </picture>
      </a>
      <ul class="nav">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#advantages">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">How it's made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu-open-btn" data-menu-open>
      <svg class="mobile-menu-open-btn__icon" width="20" height="12">
        <use href="./images/icons-svg/symbol-defs.svg#burger-icon"></use>
      </svg>
    </button>
    <button type="button" class="header__modal-btn" data-modal-open>Buy now
      <svg class="" width="10" height="14">
        <use href="./images/icons-svg/symbol-defs.svg#icon-btn"></use>
      </svg>
    </button>
  </div>
<!--Mobile-menu-->
  <div class="mobile-menu" data-menu>
    <div class="mobile-menu__container">
      <button class="mobile-menu__close-btn" type="button" data-menu-close>
        <svg class="mobile-menu-close-btn__icon" width="14" height="14">
          <use href="./images/icons-svg/symbol-defs.svg#close"></use>
        </svg>
      </button>
      <button class="mobile-menu__modal-btn" type="button" data-modalmobile-open>Buy now
        <svg class="" width="10" height="14">
          <use href="./images/icons-svg/symbol-defs.svg#icon-btn"></use>
        </svg>
      </button>
      <ul class="mobile-menu__nav">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="./index.html">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#advantages">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#about">How it's made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>