<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream<br>made with<br><span class="hero__title-accent">passion</span></h1>
    <ul class="hero__info">
      <li>
        <a class="hero__link hero__link-bright" href="#products">Products</a>
      </li>
      <li>
        <a class="hero__link hero__link-white" href="#about">How it's made?</a>
      </li>
    </ul>
    <picture>
      <source srcset="./images/hero/tasty-desk.webp 1x, ./images/hero/tasty-desk@2x.webp 2x" media="(min-width: 1200px)"
        type="image/webp">
      <source srcset="./images/hero/tasty-desk.png 1x, ./images/hero/tasty-desk@2x.png 2x" media="(min-width: 1200px)"
        type="image/png">
      <source srcset="./images/hero/tasty-tab.webp 1x, ./images/hero/tasty-tab@2x.webp 2x" media="(min-width: 768px)"
        type="image/webp">
      <source srcset="./images/hero/tasty-tab.png 1x, ./images/hero/tasty-tab@2x.png 2x" media="(min-width: 768px)"
        type="image/png">
      <img class="hero__img" src="./images/hero/tasty-desk.png" alt="milk jug" width="304" />
    </picture>
    <div class="hero__details">
      <picture>
        <source srcset="./images/hero/milk-desk.webp 1x, ./images/hero/milk-desk@2x.webp 2x" media="(min-width: 1200px)"
          type="image/webp">
        <source srcset="./images/hero/milk-desk.png 1x, ./images/hero/milk-desk@2x.png 2x" media="(min-width: 1200px)"
          type="image/png">
        <source srcset="./images/hero/milk-tab.webp 1x, ./images/hero/milk-tab@2x.webp 2x" media="(min-width: 768px)"
          type="image/webp">
        <source srcset="./images/hero/milk-tab.png 1x, ./images/hero/milk-tab@2x.png 2x" media="(min-width: 768px)"
          type="image/png">
        <img class="hero__details-img" src="./images/hero/milk-desk.png" alt="milk jug" width="213" />
      </picture>
      <div class="hero__details-box">
        <p class="hero__details-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut
          labore et</p>
        <button type="button" class="hero__details-btn" data-menu-open-details>
          <svg class="hero__details-btn-icon" width="26" height="26">
            <use href="./images/icons-svg/symbol-defs.svg#arrow-hero"></use>
          </svg>
        </button>
    </div>
    </div>
    <ul class="hero__supinfo">
      <li>
        <div class="hero__supinfo-first-box">
          <p class="hero__supinfo-amount">16</p>
          <p class="hero__supinfo-type">cafes</p>
        </div>
      </li>
      <li>
        <div class="hero__supinfo-second-box">
          <p class="hero__supinfo-amount">23</p>
          <p class="hero__supinfo-type">food trucks</p>
        </div>
      </li>
    </ul>
  </div>
</section>