<section class="products section">
    <div class="container">
        <p class="section__label">100% natural</p>
        <h2 id="products" class="section__title products__section-title">Products</h2>
        <ul class="products__list">
            <li class="products__item products__item-cream">
                <h3 class="products__title">Ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et</p>
                <button type="button" class="products__btn products__btn-cream" data-menu-open-cream>
                    <svg class="products__icon" width="40" height="40">
                        <use href="./images/icons-svg/symbol-defs.svg#icon-arrow-products"></use>
                    </svg>
                </button>
                <div class="window-cream" data-menu-cream>
                    <div class="window__container">
                        <button type="button" class="window__clouse-btn" data-menu-close-cream>
                            <svg class="window__clouse-icon" width="14" height="14">
                                <use href="./images/icons-svg/symbol-defs.svg#close"></use>
                            </svg>
                        </button>
                        <h3 class="products__title">Ice cream</h3>
                        <p class="products__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi vero at repudiandae amet repellat dicta? Ullam rem esse repudiandae sed beatae possimus, aliquid repellat veniam laborum, iste officiis doloribus unde quas. In voluptate eos error expedita amet sequi cum laudantium!</p>
                    </div>
                </div>
            </li>
            <li class="products__item products__item-coffee">
                <h3 class="products__title">Ice coffee</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et</p>
                <button type="button" class="products__btn products__btn-cofee" data-menu-open-coffee>
                    <svg class="products__icon" width="40" height="40">
                        <use href="./images/icons-svg/symbol-defs.svg#icon-arrow-products"></use>
                    </svg>
                </button>
                <div class="window-coffee" data-menu-coffee>
                    <div class="window__container">
                        <button type="button" class="window__clouse-btn" data-menu-close-coffee>
                            <svg class="window__clouse-icon" width="14" height="14">
                                <use href="./images/icons-svg/symbol-defs.svg#close"></use>
                            </svg>
                        </button>
                        <h3 class="products__title">Ice coffee</h3>
                        <p class="products__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi vero at repudiandae amet repellat dicta? Ullam rem esse
                        repudiandae sed beatae possimus, aliquid repellat veniam laborum, iste officiis doloribus unde quas. In voluptate eos
                        error expedita amet sequi cum laudantium!</p>
                    </div>
                </div>
            </li>
            <li class="products__item products__item-milkshakes">
                <h3 class="products__title">Milkshakes</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et</p>
                <button type="button" class="products__btn products__btn-milkshakes" data-menu-open-milkshakes>
                    <svg class="products__icon" width="40" height="40">
                        <use href="./images/icons-svg/symbol-defs.svg#icon-arrow-products"></use>
                    </svg>
                </button>
                <div class="window-milkshakes" data-menu-milkshakes>
                    <div class="window__container">
                        <button type="button" class="window__clouse-btn" data-menu-close-milkshakes>
                            <svg class="window__clouse-icon" width="14" height="14">
                                <use href="./images/icons-svg/symbol-defs.svg#close"></use>
                            </svg>
                        </button>
                        <h3 class="products__title">Milkshakes</h3>
                        <p class="products__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi vero at repudiandae
                            amet repellat dicta? Ullam rem esse
                            repudiandae sed beatae possimus, aliquid repellat veniam laborum, iste officiis doloribus unde quas. In
                            voluptate eos
                            error expedita amet sequi cum laudantium!</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>