.products__section-title{
    margin-bottom: 8px;
}

.proructs__wraper{
    width: 280px;

    text-align: center;

    margin-top: 140px;
    padding-left: 40px;
    padding-top: 160px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 24px;
}

.proructs__wraper-ice-cream{
    position: relative;
    background-color: var(--accent-color);

    &::before{
        position: absolute;
        top: -140;
        right: 50%;

        content: '';
        display: block;
        width: 280px;
        height: 280px;
        background-image: url(../images/products/pink-mob.png);
        transform: translateX(50%);
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
        &::before{
            background-image: url(../images/products/pink-mob@2x.png)
        }
    }
}

.proructs__wraper-ice-coffee {
    position: relative;
    background-color: var(--fifth-accent-color);

    &::before {
        position: absolute;
        top: -140;
        right: 50%;

        content: '';
        display: block;
        width: 280px;
        height: 280px;
        background-image: url(../images/products/shake-mob.png);
        transform: translateX(50%);
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        &::before {
                background-image: url(../images/products/shake-mob@2x.png)
            }
    }
}

.proructs__wraper-milkshakes {
    position: relative;
    background-color: var(--sixth-accent-color);

    &::before {
        position: absolute;
        top: -140;
        right: 50%;

        content: '';
        display: block;
        width: 280px;
        height: 280px;
        background-image: url(../images/products/choco-mob.png);
        transform: translateX(50%);
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        &::before {
            background-image: url(../images/products/choco-mob@2x.png)
        }
    }
}

.products__title{
    font-family: 'Titan One';
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;

    &::after{
        content: '';
        display: block;
        width: 26px;
        height: 6px;
        margin: 32px auto;
        background-image: url(../images/products/points.svg);
    }
}

.products__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.products__btn{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.modal__clous-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    
    fill: var(--fourth-accent-color);

    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px){
    .products__section-title{
        margin-bottom: 20px;
    }

    .products__list{
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
        margin-top: -16px;
    }

    .products__item{
        flex-basis: calc((100% - 48px) / 3);
        margin-left: 16px;
        margin-top: 16px;
    }
        
    .proructs__wraper{
        width: 224px;

        margin-top: 138px;
        padding-left: 32px;
        padding-top: 118px;
        padding-right: 32px;
        
    }

    .proructs__wraper-ice-cream{
        &::before {
                top: -138;
                width: 244px;
                height: 244px;
                background-image: url(../images/products/pink-tablet.png);
            }
        
            @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
            screen and (min-width: 768px) and (min-resolution: 192dpi),
            screen and (min-width: 768px) and (min-resolution: 2dppx) {
                &::before {
                    background-image: url(../images/products/pink-tablet@2x.png)
                }
            }
    }

    .proructs__wraper-ice-coffee {
        &::before {
            top: -138;
            width: 244px;
            height: 244px;
            background-image: url(../images/products/shake-tablet.png);
        }

        @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) {
            &::before {
                background-image: url(../images/products/shake-tablet@2x.png)
            }
        }
    }

    .proructs__wraper-milkshakes {
        &::before {
            top: -138;
            width: 244px;
            height: 244px;
            background-image: url(../images/products/choco-tablet.png);
        }

        @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) {
            &::before {
                background-image: url(../images/products/choco-tablet@2x.png)
            }
        }
    }
}